body{
  background-image: url(https://notdabblinginnormal.files.wordpress.com/2012/08/kombucha-spearating-the-new-scoby.jpg);
  background-position: center;

}
#survey {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
}
